/*-----------PAGINA--------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Ubuntu:wght@300;500;700&family=Poppins:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

/*----------TIPOGRAFIAS Y ESTILOS------------*/
.Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.Poppins{
    font-family: 'Poppins', sans-serif;
}
.fs30{
    font-size: 30pt!important;
}

/*--------------COLORES-----------------*/

/*---------------ELEMENTOS--------------*/
.header{
    position:relative;
    height: 300px;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/27/9f/45/bc/restaurant.jpg);
    background-position:center;
    background-size:cover;
    padding: 10%;
    box-shadow: inset 0 0 150px 20px black;
    margin-bottom:40px;
}
.header .welcome{
    position:absolute;
    color:white;
    height: 60px;
    bottom:20px;
}
.header .busqueda{
    position: absolute;
    height: 40px;
    bottom:-20px;
    background-color: white;
    width: 80%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    border-radius: 5px;
}

.busqueda .icono{
    width: 40px;
    height: 40px;
    color:white;
    background-color: aquamarine;
    text-align: center;
    line-height: 40px;
    border-radius: 5px 0 0 5px;
}

nav{
    
}

nav ul{
    height: 100px;
    background-color: aquamarine;
    font-size: 20pt;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow: scroll;
}

nav ul li{
    flex:0 0 200px;
    list-style: none;
    text-align: center;
    font-size: 24pt !important;
    /* line-height: 60px !important; */
    
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px; */
    background-color: yellow;
}

.busqueda input[type="search"]{
    background-color: transparent;
    height: 40px;
    width: calc(100% - 100px);
    border:none;
    padding-left: 14px;
    outline:none;
}

.busqueda input[type="search"]:focus{
    border:0px;
    outline: solid 2px aquamarine;
    /*outline:none;*/
}

.busqueda input[type="submit"]{
    width: 60px;
    height: 40px;
    background-color: transparent;
    border:none;
    color:grey;
}

.busqueda input[type="submit"]:hover{
    color:black;
    transform:scale(1.3);
}

.busqueda input[type="submit"]:active{
    color:grey;
    background-color: aquamarine;
    transform:scale(1);
    border-radius: 0 5px 5px 0;
}
