/*-----------PAGINA--------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Ubuntu:wght@300;500;700&family=Poppins:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

/*----------FLEX----------*/
.flx{
    display: flex;
}
.flx_col{
    flex-direction: column;
}
.jtf_cont_spc_btn{
    justify-content: space-between;
}

/*--------FUENTES---------*/
.Poppins{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.Roboto{
    font-family: 'Roboto';
    font-weight: 300;
}

/*--------ELEMENTOS-----------*/

.link_negro{
    color:black;
    text-decoration: none;
}

.mgn_btm_20px{
    margin-bottom: 20px;
}

header{
    position:relative;
    height: 150px;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-color:rgb(189, 178, 178);
    margin-bottom: 75px;
}

header .corazon{
    position:relative;
    left:45vw;
    bottom:-30px;
}

header .foto_perfil{
    position: absolute;
    height: 150px;
    width: 150px;
    height: center;
    bottom:-75px;
    border-radius: 50%;
}

.datos{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    padding:0 30px;
    flex-direction: column;
    gap:10px;
}

.wrapper .mensajes{
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 50px;
}

.mensajes .chat{
    padding:10px 20px;
    border:1px black solid;
    border-radius: 14px;
    flex: 1 0 100%;
    gap:10px;
}

.chat_icono{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.busqueda{
    height: 40px;
    background-color: white;
    align-items: center;
}

.mensaje{
    width: 90%;
    border:none;
    height: 30px;
    background-color: rgb(204, 200, 200);
    border-radius: 14px 0 0 14px;
}

.enviar{
    width: 10%;
    border:none;
    background-color: rgb(204, 200, 200);
    height: 30px;
    border-radius: 0 14px 14px 0;
}

.enviar:hover{
    background-color: rgb(168, 164, 164);
}

footer{
    width: 100%;
    background-color: grey;
    padding-left:30px;
    padding:5px 0;
    position:fixed;
    bottom:0;
}