body{
	margin:0px;
}
.header{
	display: flex;
	padding: 0.5rem 4rem;
	text-align: left;
}
.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.descrip{
	display: flex;
}
#info1, #info2{
	display: flex;
	flex-direction: column;
	width: 90%;
	align-content: center;
}
.banner{
	display: contents;
}
.text_descrip{
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 100px;
}
.productos{
	display:flex;
	max-height: 100%;
}
.card{
	display:flex;
	flex-direction:column;
	width:25%;
	padding: 1rem;
}
.icono{
	display: flex;
    max-width: 100%;
    height: 30rem;
}
#imgdescr{
	padding: 1rem 0;
	width: 100%;
}
#imgbanner{
	max-height: 50vh;
}
#id{
	display:flex;
	flex-direction: column;
}
.staff{

}
.content-integ{
	display: flex;
}
#titulo{
	display:flex;
	justify-content: center;
}
.integrante{
	display:flex;
	margin: .2rem;
	padding: 0.3rem;
	align-items: center;
	background-color: grey; 
	flex-direction:column;
	width:33%;
}
.integrante-imagen{
	width: 200px;
	border-radius: 95%;
}
footer{
	display: flex;
	padding: 0.5rem 4rem;
	justify-content: center;
	background-color:grey;
}